.slider {
    position: absolute;
    cursor: pointer;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 108px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(196, 223, 244);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 6px;
    font-size: 12px;
}

.slider:before {
    position: absolute;
    content: "Buyer";
    height: 26px;
    width: 50px;
    left: 4px;
    bottom: 4px;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 6px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.switch.text {
    position: absolute;
    z-index: 3;
}

.switch.text.left {
    left: 4px;
}

.switch.text.right {
    left: 54px;
}

input:checked + .slider {
    background-color: #FCE6F3;
}

input:checked + .slider:before {
    content: "Seller";
    background: #FC4FB8;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FCE6F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
}
