.insta-menu-wrapper {
    width: 200px;
}

.each-nav {
    margin: 0;
    padding: 8px 15px 8px 0;
}

.each-nav:hover {
    background: #D5EDFD;
    color: #0596F8 ;
    border-radius: 8px;
    box-sizing: border-box;
}