.insta-menu-wrapper {
    width: 200px;
}

.each-nav {
    margin-left: -10px;
    padding: 8px 10px;
}

.each-nav:hover {
    background: #D5EDFD;
    color: #0596F8 ;
    border-radius: 8px;
    box-sizing: border-box;
}